
*{
    box-sizing: border-box;
}

/*===========================*/
/*====== Formtatting ========*/
/*===========================*/
.verdana-gray {
    color: black;
    padding: 8px;
}

/*===========================*/
/*======= Background ========*/
/*===========================*/
.bg-gray {
    background-color: #3B71CA;
}
.bg-light-gray {
    background-color: #3B71CA;
}
.bg-white {
    background-color: white;
}
.rounded {
    border-radius: 8px;
}

/*===========================*/
/*======== Wrappers =========*/
/*===========================*/
#wrapper-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 1%;



}
#wrapper-header {
    height: 120px;
    line-height: 120px;
    font-size: 24pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#wrapper-content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

}
#wrapper-footer {
    display: flex;
    flex-shrink: 0;
}


/*===========================*/
/*======== Headers ==========*/
/*===========================*/
.header {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}


/*===========================*/
/*========= Content =========*/
/*===========================*/
#content {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}


/*======= Left Pane =========*/
#content-left-pane {
    width: 15%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#e-list {
    overflow-wrap: anywhere;
}
.el-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-wrap: anywhere;
    margin: 10px 0;
}
.el-name {
    border-bottom: 2px solid #ffffff;
    color: white;

}
.el-delete {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
}

.el-delete:hover::after {
    content: "Usuń";
    position: absolute;
    bottom: 125%;
    left: 50%;
    white-space: nowrap;
    padding: 5px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    opacity: 0.9;
    visibility: visible;
    transform: translateX(-50%);
}

/*========== Main ===========*/
#content-main {
    width: 85%;
    margin-left: 10px;
}

/*========== Form ===========*/
#form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    padding: 10px;
}
#add-entry {
    display: flex;
    flex-direction: row;
    width: 80%;
}
#e-name {

    font-size: 10pt;
    color: #ffffff;
}
#add-entry-btn-wrapper {
    width: 100%;
    max-width: 200px;
    margin: 0 10px;
}
.form-btn {
    height: 100%;
    margin: 0 auto;
    color: black;
    padding: 7px;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;


}
.form-btn:hover {
    cursor: pointer;
    background-color: #636363;
}
#make-bracket-btn-wrapper {
    width: 20%;
    max-width: 200px;
}

/*======== Bracket ==========*/
#bracket {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 10px;
}
.be-row {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    height: 40px;
}
.be {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    border-bottom: 2px solid #8d8d8d;
    padding: 10px;
}
.be-name {
    text-align: center;
}
.be-btn {
    width: 20px;
    height: 20px;
}
.be-btn:hover {
    cursor: pointer;
}
.be-btn:hover > img {
    background-color: lightgray;
}
.be-btn > img {
    width: auto;
    height: 100%;
    border-radius: 10px;
}


/*===========================*/
/*========= Footer ==========*/
/*===========================*/
#footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#link-wrapper {
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    cursor: pointer;
}
#git-logo {
    height: 20px;
    width: auto;
    vertical-align: middle;
}




